<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Alue</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <ul>
            <li th:each="lanka: ${langat}">
                <span th:text="${lanka.otsikko}">otsikko</span>
                <span th:text="${lanka.tuoreinViesti.aika}">aika</span>
            </li>
        </ul>
    </body>
</html>
